doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://js.stripe.com/v3/")
    script(src="/javascripts/main.js")
  body
    block content
